<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Controle Academico Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CursoSalvarServlet</display-name>
    <servlet-name>CursoSalvarServlet</servlet-name>
    <servlet-class>servlet.CursoSalvarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoSalvarServlet</servlet-name>
    <url-pattern>/CursoSalvarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CursoExcluirServlet</display-name>
    <servlet-name>CursoExcluirServlet</servlet-name>
    <servlet-class>servlet.CursoExcluirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoExcluirServlet</servlet-name>
    <url-pattern>/CursoExcluirServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CursoListarServlet</display-name>
    <servlet-name>CursoListarServlet</servlet-name>
    <servlet-class>servlet.CursoListarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoListarServlet</servlet-name>
    <url-pattern>/CursoListarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CursoAtualizarServlet</display-name>
    <servlet-name>CursoAtualizarServlet</servlet-name>
    <servlet-class>servlet.CursoAtualizarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoAtualizarServlet</servlet-name>
    <url-pattern>/CursoAtualizarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CursoBuscarPorIdServlet</display-name>
    <servlet-name>CursoBuscarPorIdServlet</servlet-name>
    <servlet-class>servlet.CursoBuscarPorIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoBuscarPorIdServlet</servlet-name>
    <url-pattern>/CursoBuscarPorIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaSalvarServlet</display-name>
    <servlet-name>DisciplinaSalvarServlet</servlet-name>
    <servlet-class>servlet.DisciplinaSalvarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaSalvarServlet</servlet-name>
    <url-pattern>/DisciplinaSalvarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaExcluirServlet</display-name>
    <servlet-name>DisciplinaExcluirServlet</servlet-name>
    <servlet-class>servlet.DisciplinaExcluirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaExcluirServlet</servlet-name>
    <url-pattern>/DisciplinaExcluirServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaListarServlet</display-name>
    <servlet-name>DisciplinaListarServlet</servlet-name>
    <servlet-class>servlet.DisciplinaListarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaListarServlet</servlet-name>
    <url-pattern>/DisciplinaListarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaAtualizarServlet</display-name>
    <servlet-name>DisciplinaAtualizarServlet</servlet-name>
    <servlet-class>servlet.DisciplinaAtualizarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaAtualizarServlet</servlet-name>
    <url-pattern>/DisciplinaAtualizarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisciplinaBuscarPorIdServlet</display-name>
    <servlet-name>DisciplinaBuscarPorIdServlet</servlet-name>
    <servlet-class>servlet.DisciplinaBuscarPorIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisciplinaBuscarPorIdServlet</servlet-name>
    <url-pattern>/DisciplinaBuscarPorIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorSalvarServlet</display-name>
    <servlet-name>ProfessorSalvarServlet</servlet-name>
    <servlet-class>servlet.ProfessorSalvarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorSalvarServlet</servlet-name>
    <url-pattern>/ProfessorSalvarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorExcluirServlet</display-name>
    <servlet-name>ProfessorExcluirServlet</servlet-name>
    <servlet-class>servlet.ProfessorExcluirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorExcluirServlet</servlet-name>
    <url-pattern>/ProfessorExcluirServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorListarServlet</display-name>
    <servlet-name>ProfessorListarServlet</servlet-name>
    <servlet-class>servlet.ProfessorListarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorListarServlet</servlet-name>
    <url-pattern>/ProfessorListarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorAtualizarServlet</display-name>
    <servlet-name>ProfessorAtualizarServlet</servlet-name>
    <servlet-class>servlet.ProfessorAtualizarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorAtualizarServlet</servlet-name>
    <url-pattern>/ProfessorAtualizarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfessorBuscarPorIdServlet</display-name>
    <servlet-name>ProfessorBuscarPorIdServlet</servlet-name>
    <servlet-class>servlet.ProfessorBuscarPorIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorBuscarPorIdServlet</servlet-name>
    <url-pattern>/ProfessorBuscarPorIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>